<style>
       body{
    text-align: center;
    background-color: antiquewhite;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
  }
  h1 {
    color:aquamarine;
    text-align: center;
    
   }
   img{
    width: 200px;
    display: block;
    margin: auto;
   }
   p{
    text-align: center;
   } 
        .skill-button {
            display: block; 
            width: 200px; 
            padding: 10px;
            background-color:bisque;
            color:black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px auto; 
            text-align: center; 
        }
    </style>